body{
    width: 100%;
    margin:0 0 0 0;
    padding-bottom: 150px;
}
footer {
    background-color: #e1e1e1;
    padding: 10px 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    color: #807e7e;
}
/* ========================================================================================================================
                                                        Navbar
   ======================================================================================================================== */
.navbar {
    background-color: #353535;
    padding: 10px 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar p{
    color: #918d8d;
    margin-right: 100px;
    font-size: 18px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    display: inline-block;
    padding: 12px 20px;
    color: #c8c8c8;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    color: #5fd1d6;
}

.navbar ul li a:active {
    color: #86f9ff;
}
/* ========================================================================================================================
                                                      Main content
   ======================================================================================================================== */
.main-container{
    margin: auto;
    margin-top: 80px;
}
footer{

}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
/* ==========================================================================
                              Table of all rooms
   ========================================================================== */
.all-rooms-table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.all-rooms-table thead{
    border-bottom: #c3c2c2;
    border-bottom-width: 2px;
    border-bottom-style: ridge;
}
.all-rooms-table th{
    text-align: center;
    padding:20px;
}
.all-rooms-table tbody tr{
    border-bottom: #f4f4f4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.all-rooms-table td{
    padding:15px;
}
.all-rooms-table a{
    text-align: left;
    padding:20px;
}
.all-rooms-table-options a{
    text-decoration: none;
    color: #4ba6aa;
}
.all-rooms-table-options a:hover{
    text-decoration: none;
    color: #5fd1d6;
}
/* ==========================================================================
                              Search form
   ========================================================================== */
.search-room-form-container{
    border: 1px solid #dcdcdc;
    margin: 5px;
    margin-top: 95px;
    padding:10px;
}
.search-room-form-container h2{

    margin: 0;
}
.search-room-form{
    padding: 10px;
    font-size: 16px;
    margin:0;
}
.search-room-form label{
    padding: 10px;
}
.search-room-form label input{
    padding: 2px 2px;
    font-size: 16px ;
    font-family: inherit;
}
.search-room-form button{
    margin-top:10px;
    padding: 5px 30px;
    border: none;
    background-color: #ced7da;
    color: #3e4343;
    font-family: inherit;
    font-size: 16px;
}
.no-room-feedback{
    padding-left: 15px;
    font-family: inherit;
    font-size: 16px;
}
/* ==========================================================================
                              Available for date page
   ========================================================================== */
.available-rooms-header{
    padding: 5px;
    margin-left: 10px;
}
.available-rooms-header h2{
    margin-bottom:0;
    padding-bottom: 0;
}
.available-rooms-header p{
    margin-top:0;
    padding-top: 0;
    font-size: 18px;
}
/* ==========================================================================
                              Add room page
   ========================================================================== */
.add-room-form-container{
    border: 1px solid #dcdcdc;
    margin: 5px;
    margin-top: 95px;
    padding:10px;
}

.add-room-form-container h2{
    margin: 0;
}
.add-room-form{
    padding: 10px;
    font-size: 16px;
    margin:0;
}
.add-room-form label{
    padding: 10px;
}
.add-room-form label input{
    padding: 2px 2px;
    font-size: 16px ;
    font-family: inherit;
}
.add-room-form button{
    margin-top:10px;
    padding: 5px 30px;
    border: none;
    background-color: #ced7da;
    color: #3e4343;
    font-family: inherit;
    font-size: 16px;
}
.add-room-response{
    padding-left: 15px;
    font-family: inherit;
    font-size: 16px;
}
/* ==========================================================================
                              Modify room page
   ========================================================================== */
.modify-room-form-container{
    border: 1px solid #dcdcdc;
    margin: 5px;
    margin-top: 95px;
    padding:10px;
}
.modify-room-form-container h2{
    margin: 0;
}
.modify-room-form{
    padding: 10px;
    font-size: 16px;
    margin:0;
}
.modify-room-form label{
    padding: 10px;
}
.modify-room-form label input{
    padding: 2px 2px;
    font-size: 16px ;
    font-family: inherit;
}
.modify-form-button{
    margin-top:10px;
    padding: 5px 30px;
    border: none;
    background-color: #ced7da;
    color: #3e4343;
    font-family: inherit;
    font-size: 16px;
}
/* ==========================================================================
                              Book room page
   ========================================================================== */
.book-room-container{
    display: flex;
    flex-direction: column;
}
.book-room-form-container{
    border: 1px solid #dcdcdc;
    margin: 15px 5px 5px 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.book-room-form-container h2 {
    margin: 0;
    padding-left:10px;
    padding-top:10px;
}
.book-room-form {
    margin: 0;
    padding:10px;
}
/*.book-room-form{*/
/*    padding: 10px;*/
/*    font-size: 16px;*/
/*    margin:0;*/

/*}*/
/*.book-room-form label{*/
/*    margin: 10px 5px;*/
/*    line-height: 1.4;*/
/*}*/
/*.book-room-form label input{*/
/*    padding: 5px 2px;*/
/*}*/
.book-room-table-form{
    padding:10px;
    margin-top: 0;
    font-size: 16px;
}
.book-room-table-form th{
    text-align: left;
    padding: 15px 20px 15px 0;
    font-family: inherit;

}
.book-form-comment{
    width: 300px;
    padding: 5px;
    resize: none;
    font-size:16px;
    font-family: inherit;
    border: 1px solid #dcdcdc;
}
.book-form-date{
    width: 150px;
    padding: 5px;
    place-content: center;
    font-family: inherit;
    font-size: 16px;
    color: #5e6565;
}
.book-form-button{
    margin-top:10px;
    padding: 15px 45px;
    border: none;
    background-color: #ced7da;
    color: #3e4343;
    font-family: inherit;
    font-size: 16px;
}
.book-room-table-container h2{
    margin: 5px;
    margin-top: 10px;
    padding:10px;
}
.book-room-table{
    border-collapse: collapse;
    width:100%;
}
.book-room-table thead{
    border-bottom: #c3c2c2;
    border-bottom-width: 2px;
    border-bottom-style: ridge;
}
.book-room-table th{
    padding: 5px;
}
.book-room-table td{
    padding: 10px;
    text-align: center;
}
.book-room-table tbody tr{
    border-bottom: #f4f4f4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/* ==========================================================================
                              Room details page
   ========================================================================== */
.room-details{

}
.room-details-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:0;
}
.room-details-header h2{
    margin-bottom: 0;
    padding-bottom: 0;
}
.room-details h2{
    margin: 5px;
    margin-top: 10px;
    padding:10px;
}

.room-details-links{
    padding:10px;
}
.room-detail-table{
    padding: 0 10px;
    margin-top: 0;
    font-size: 16px;
    color: #22505e;
}
.room-detail-table th{
    text-align: left;
    padding: 0 25px 10px 5px;
    font-family: inherit;
}
.room-detail-table td{
    text-align: left;
    padding: 0 70px 10px 5px;
}
.room-booking-detail-table{
    border-collapse: collapse;
    width:100%;
}
.room-booking-detail-table thead{
    border-bottom: #c3c2c2;
    border-bottom-width: 2px;
    border-bottom-style: ridge;
}
.room-booking-detail-table th{
    padding: 5px;
}
.room-booking-detail-table td{
    padding: 10px;
}
.room-booking-detail-table tbody tr{
    border-bottom: #f4f4f4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.room-details-page{
    text-align: left;
    padding:10px;
}
.room-details-page{
    text-decoration: none;
    color: #4ba6aa;
}
.room-details-page:hover{
    text-decoration: none;
    color: #5fd1d6;
}
.no-bookings-feedback{
    padding-left: 15px;
    font-family: inherit;
    font-size: 16px;
}
.booking-comment{
    text-align: left;
}
.booking-date{
    text-align: center;
}
