{% extends 'confroom_app/base.html' %}
{% block title %}Add conference room {% endblock %}

{% block content %}
    <div class="book-room-container">
        <div class="book-room-form-container">
            <h2>Book conference room</h2>
            <form method="post" class="book-room-form">
                {% csrf_token %}
<!--                <label>Conference room: No. {{room.id}} - {{room.name}}</label><br>-->
<!--                <label>Comment: <input type="text" name="comment"></label><br>-->
<!--                <label>Date: <input type="date" name="date" id="datePicker"></label>-->

                <table class="book-room-table-form">
                    <tr>
                        <th>Conference room</th>
                        <td>#{{room.id}}: {{room.name}}</td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td><textarea type="text" name="comment" class="book-form-comment" rows="3">{{comment}}</textarea></td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td><input type="date" name="date" id="datePicker" class="book-form-date"></td>
                    </tr>
                    <tr style="text-align: center;" >
                        <td colspan="2">
                            <button class="book-form-button">Book</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="book-room-table-container">
            <h2>Current bookings</h2>
            {% if data_available is not none %}
                <table class="book-room-table">
                    <thead>
                        <tr>
                          <th style="width: 30%;">Date</th>
                          <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                            <tr>
                                  <td style="width: 30%;">{{booking.date}}</td>
                                  <td>{{booking.comment}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="no-bookings-feedback">No booking found for this conference room.</p>
            {% endif %}
        </div>

    </div>

{% endblock %}