{% extends 'confroom_app/base.html' %}
{% block title %}All conference rooms{% endblock %}

{% block content %}
<div class="available-rooms-header">
    <h2>Availability for today</h2>
    <p>{{today}}</p>
</div>
    {% if all_rooms is not none %}
        <table class="all-rooms-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Projector</th>
                    <th>Available</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for room in all_rooms %}
                    <tr>
                        <td style="font-weight: bold;">{{room.id}}</td>
                        <td class="all-rooms-table-options"><a href="{% url 'show-room' room.id %}">{{room.name}}</a></td>
                        <td>{{room.capacity}}</td>
<!--                        <td>{{room.has_projector}}</td>-->
                        {% if room.has_projector %} <td style="color: green;font-size: 20px;">&#x2713;</td>
                            {% else %}<td style="color:red; font-size: 20px"> &#x2717;</td>{% endif %}
                        {% if room.is_booked %}
                            <td style="color:#9c0202">Booked </td>
                        {% else %}
                            <td style="color:#006c00;">Available</td>
                        {% endif %}
<!--                        <td>{% if room.is_booked %}Booked{% else %}Available{% endif %}</td>-->
                        <td class="all-rooms-table-options">
                            <a href="{% url 'book-room' room.id %}">Book</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
          <p>No conference rooms available</p>
    {% endif %}
{% endblock %}